.chatting-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #EFEFEF;
    width: 18%;
    height: 100vh;
    box-shadow: 2px 2px 8px 0 rgba(175, 175, 175, 0.5);
    border-right: 1px solid #d3d3d3;
    padding-top: 1.26%;
}

.chatting-section h1 {
    margin-bottom: 20%;
    padding-left: 4.5%;
}